html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background: url("../img/back.jpg");
    background-size: cover;
}

#map {
    height: 400px;
    width: 100%;
}

.tp-form-group {
    margin-bottom: 20px;
}

.tp-form {
    background: linear-gradient(to bottom, #d0e5f2, #cfc4dd);
    padding: 25px;
}

.tp-label {
    font-weight: bold;
    color: #550c87;
}

.tp-text-input {
    border-radius: 0;
    border-color: #e5e5e5;
}


.tp-datetime-input::-webkit-datetime-edit-ampm-field {
    display: none;
}

.tp-datetime-input {
    border-radius: 0;
    border-color: #e5e5e5;
}

.tp-input-desc {
    margin-top: 5px;
    font-size: 12px;
    color: #634c81;
}

.tp-file-upload {
    padding: 3px 10px;
    color: #550c87;
}

.tp-submit-btn {
    border-radius: 0;
}

.tp-gradient-standard {
    background: linear-gradient(to top, #f8f8ff, #cfc4dd);
}

.footer {
    padding-left: 30px;
    text-align: left;
}

.tp-gradient-reverse {
    background: linear-gradient(to bottom, #d0e5f2, #cfc4dd);
}

.br-20{
    border-radius:0px 0px 20px 20px;
}

.mr-50{
    margin-right: 50px;
}