<div id = "carouselExampleIndicators" class = "carousel slide" data-bs-ride = "carousel">
  <div class = "carousel-indicators">
    <button *ngFor="let image of images;let i = index" type = "button" data-bs-target = "#carouselExampleIndicators" [attr.data-bs-slide-to]="i"
            [attr.aria-current]="i === 0 ? 'true' : 'false'" [attr.aria-label]="'Slide ' + i" class ="{{i === 0 ? 'active' : ''}}"></button>
  </div>
  <div class = "carousel-inner">
    <div class = "carousel-item {{i === 0 ? 'active' : ''}}" *ngFor="let image of images;let i = index">
      <img [src]="image.link" class = "d-block w-100 img-responsive carousel-image" alt = "Trip photo">
    </div>
  </div>
  <a class = "carousel-control-prev" type = "button" data-bs-target = "#carouselExampleIndicators" [attr.data-bs-slide]="'prev'">
    <span class = "carousel-control-prev-icon" [attr.aria-hidden]="true"></span>
    <span class = "visually-hidden">Previous</span>
  </a>
  <a class = "carousel-control-next" type = "button" data-bs-target = "#carouselExampleIndicators" [attr.data-bs-slide]="'next'">
    <span class = "carousel-control-next-icon" [attr.aria-hidden]="true"></span>
    <span class = "visually-hidden">Next</span>
  </a>
</div>
