<h1 class = "tp-label">Driver details</h1>
<div class = "tp-form">
  <div class = "row">
    <div class = "col-md-6">
      <app-images-carousel [images]="driver.images"></app-images-carousel>
    </div>
    <div class = "col-md-6">
      <h2 class = "tp-label">{{driver.name}}</h2>
      <p class = "tp-label">Experience: {{driver.experience}} years</p>
      <app-trip-rating style = "display: flex; flex-wrap: wrap;" [actualRating]="driver.averageRating"></app-trip-rating>
    </div>
  </div>
  <h2 class = "mt-5 tp-label">Feedbacks</h2>
  <h4 *ngIf="driver.feedbacks.length === 0; else feedbacksList" class = "tp-label">There's nothing to see here yet</h4>
  <ng-template #feedbacksList>
    <ul id = "all-feedbacks-container">
      <li class = "mt-3 feedback-container" data-feedback-id = "@feedback.Id" *ngFor="let feedback of driver.feedbacks">
        <p>
          <strong class = "tp-label">{{feedback.userName}}</strong>
        </p>
        <app-trip-rating [actualRating]="feedback.rating"></app-trip-rating>
        <p class = "feedback-text">{{feedback.text}}</p>
        <hr/>
      </li>
    </ul>
  </ng-template>
</div>


