<h4 class = "tp-label" id = "no-content" *ngIf="yearsOfTrips.length === 0; else mainContent">You have no trips yet</h4>
<ng-template #mainContent>
  <div id = "main-content" class = "tp-form">
    <h5 class = "tp-label">Select year for displaying statistics:</h5>
    <select [(ngModel)]="selectedYear" class="form-select" (change)="onYearChange()">
      <option *ngFor="let value of yearsOfTrips" [value]="value">{{value}}</option>
    </select>
    <google-chart
      [title]='chartName'
      [type]="chartType"
      [data]="durationData"
      [columns]="chartColumnNames"
      [options]="chartOptions"
      style="height:600px; width:100%">
    </google-chart>
  </div>
</ng-template>
