@model Andrei_Mikhaleu_Task1.Models.ViewModels.NewTripViewModel

@{
    ViewData["Title"] = "New Trip";
}
<form class="bootstrap-form tp-form" asp-action="Create" enctype="multipart/form-data">
    <div class="form-group tp-form-group">
        <label for="nameInput" class="tp-label">Your trip name:</label>
        <input class="form-control tp-text-input" type="text" asp-for="Name" id="nameInput" />
        <div class="tp-input-desc">Enter name of your trip</div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group tp-form-group">
        <label for="startTimeInput" class="tp-label">Departure Time:</label>
        <input class="form-control tp-datetime-input" type="datetime-local" asp-for="StartTime" id="startTimeInput" />
        <div class="tp-input-desc">Select the start time of your trip in terms of start point timezone</div>
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group tp-form-group">
        <label for="endTimeInput" class="tp-label">Arrival Time:</label>
        <input class="form-control tp-datetime-input" type="datetime-local" asp-for="EndTime" readonly id="endTimeInput" />
        <div class="tp-input-desc">End time of your trip will be calculated automatically</div>
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>
    <div class="form-check tp-form-check">
        <input class="form-check-input tp-check-input" type="checkbox" asp-for="Public" id="publicCheck" />
        <label class="form-check-label tp-label" for="publicCheck">Public</label>
        <div class="tp-input-desc">Make your trip visible to everyone</div>
    </div>
    <div class="form-group tp-form-group">
        <label for="descriptionInput" class="tp-label">Description:</label>
        <textarea class="form-control tp-textarea" asp-for="Description" id="descriptionInput"></textarea>
        <div class="tp-input-desc">Enter a couple of phrases describing your trip</div>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="tp-label">Click on the map to place trip points</div>
    <div id="map" class="form-group tp-form-group"></div>
    <div class="tp-label mt-2 mb-2">Trip's distance: <span class="tp-input-desc" id="route-length-view">0</span>&nbsp km</div>
    <input type="hidden" name="routePoints" />
    <input type="hidden" name="Distance" asp-for="Distance" />
    <input type="hidden" name="StartTimeZoneOffset" asp-for="StartTimeZoneOffset" />
    <input type="hidden" name="FinishTimeZoneOffset" asp-for="FinishTimeZoneOffset" />
    <div class="form-group tp-form-group">
        <label for="imageUpload" class="tp-label">Upload your images here:</label>
        <input class="form-control-file tp-file-upload" type="file" id="imageUpload" name="images" accept="image/*" multiple />
        <div class="tp-input-desc">Upload photos of your trip</div>
    </div>
    <div id="imagesList"></div>
    <div>
        <button class="btn btn-primary tp-submit-btn mt-3" type="submit">Create trip</button>
    </div>
</form>

@section Scripts {
    <script src="@Url.Content("~/js/RouteBuilder.js")"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFD93X-nfhki6P2iGKcBv142KWS6SPrjI&callback=initMap"></script> 
	<script>
		initMap(51.5085, 0, 6);
		addClickOnMap();
	</script>
    <script src="~/js/ImagesLoading.js"></script>
}