@model TripsServiceBLL.DTO.Trips.ReadTripDTO

<h5 style = "display: inline-block" class = "tp-label">Trip driver's rating:</h5>
<span class = "rating-container">
	<span class = "rating-value" style = "display:none">@Model.Rating</span>
	<span class = "star-container">
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
	</span>
</span>
