<span class = "rating-container">
	<span class = "rating-value">{{actualRating}}</span>
	<span class = "star-container">
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
		<span class = "star">
			<span class = "star-filled"></span>
			<span class = "star-outline"></span>
		</span>
	</span>
</span>
