<form class = "bootstrap-form tp-form" #tripEditForm id = "main-form" (submit)="submit(tripEditForm)" enctype="multipart/form-data">
  <div class = "form-group tp-form-group">
    <label for = "nameInput" class = "tp-label">Your trip name:</label>
    <input class = "form-control tp-text-input" type = "text" [(ngModel)]="trip.name" name="Name" value="{{trip.name}}" id = "nameInput"/>
    <div class = "tp-input-desc">Enter name of your trip</div>
    <span class="text-danger" *ngIf="validationErrors.Name">{{validationErrors.Name}}</span>
  </div>
  <div class = "form-check tp-form-check">
    <input class = "form-check-input tp-check-input" type = "checkbox" [(ngModel)]="trip.public" name="Public" value="{{trip.public}}" id = "publicCheck"/>
    <label class = "form-check-label tp-label" for = "publicCheck">Public</label>
    <div class = "tp-input-desc">Make your trip visible to everyone</div>
  </div>
  <div class = "form-group tp-form-group">
    <label for = "descriptionInput" class = "tp-label">Description:</label>
    <textarea class="form-control tp-textarea" [(ngModel)]="trip.description" name="Description" value="{{trip.description}}" id="descriptionInput"></textarea>
    <div class = "tp-input-desc">Enter a couple of phrases describing your trip</div>
  </div>
  <app-image-upload (filesChanged)="handleFilesChanged($event)"></app-image-upload>
  <div class = "tp-label">Previously loaded images:</div>
  <div class = "row">
    <div class = "col-4 mb-3 preload-image-container" *ngFor="let image of trip.images">
      <img [src]="image.link" alt="Trip photo" class = "img-fluid d-block" style = "object-fit: cover; height: 250px"/>
      <button type = "button" class = "btn btn-danger mt-2" (click)="deleteTripImage(image.id)">Delete</button>
    </div>
  </div>
  <div>
    <button class = "btn btn-success tp-submit-btn mt-3" type="submit">Edit trip</button>
  </div>
</form>
